.recursos {
  &.container {
    border-width: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    //position: fixed;
    right: 0;
    text-align: center;
  }
}
