@import '../base/colors';

.spinner {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  &.news {
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
  }
}

.spinner-container {
  background-color: $background-color;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &.news {
    z-index: 0;
  }
}
